@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-roboto;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

body {
  @apply bg-light-gray;

  background-image: url('~/assets/svg/bg.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center right;
  min-height: 100vh;
}
